<app-header></app-header>
   
<ion-content class="appBackground; ion-padding">

   <ion-card>
    <ion-card-header>
      Registrierung des Erziehungsberechtigten 
    </ion-card-header>


    <ion-card-content>

    <form #form="ngForm" (ngSubmit)="kindAnlegen(form)" method="post">
        <ion-item>
            <ion-label position="floating">Vorname</ion-label>
            <ion-input ngModel name="fName"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Nachname</ion-label>
          <ion-input ngModel name="lName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nutzername</ion-label>
            <ion-input ngModel name="username"></ion-input>
         </ion-item>
      
        <ion-item>
          <ion-label position="floating">Geburtstag</ion-label>
          <ion-input type="date" ngModel name="bday"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Schule</ion-label>
            <ion-input ngModel name="school"></ion-input>
         </ion-item>
      
         <ion-item>
            <ion-label position="floating">Klasse</ion-label>
            <ion-input ngModel name="schoolClass"></ion-input>
         </ion-item>
        <ion-item>
                <ion-label position="floating">Geburtstag</ion-label>
                <ion-input type="date" ngModel name="bday"></ion-input>
             </ion-item>

             <ion-item>
          <ion-label position="floating">Passwort</ion-label>
          <ion-input type="password" ngModel name="password"></ion-input>
        </ion-item>

        <ion-item>
        <ion-label position="floating">Passwort wiederholen</ion-label>
        <ion-input type="password" ngModel name="passwordRepeat"></ion-input>
        </ion-item>
    
        <ion-button type="submit" expand="block" (click)="navToKindUebersicht()" color="danger">Kind Anlegen</ion-button>
      </form>
      <ion-button expand="block" (click)="navToKindUebersicht()">Abbrechen</ion-button>

     </ion-card-content>
  </ion-card> 
</ion-content>
