<ion-list class="popover-content-container">
  <ion-item>
    Betreuung von: 
  </ion-item>
  <ion-datetime [ngModel]="startTime" displayFormat="HH:mm" pickerFormat="HH:mm" (ionChange)="startTimeChange($event.target.value)"></ion-datetime>
  <ion-item>
    Betreuung bis: 
  </ion-item>
  <ion-datetime [ngModel]="endTime" displayFormat="HH:mm" pickerFormat="HH:mm" (ionChange)="endTimeChange($event.target.value)"></ion-datetime>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="allowedToLeave"></ion-checkbox>
    <ion-label>Darf nach den Hausaufgaben gehen</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Bemerkungen
    </ion-label>
  </ion-item>
  <ion-textarea class="bemerkungseingabe" [(ngModel)]="bemerkung">
  </ion-textarea>
  <div>
    <ion-item button class="floated" color="primary" (click)="abort()">
      Abbrechen
    </ion-item>
    <ion-item button class="floated" color="primary" (click)="saveAttendance()">
      Speichern
    </ion-item>
  </div>
</ion-list>
