<ion-list class="popover-content-container">
  <ion-item>
    Betreuung bis: 
  </ion-item>
  <ion-input class="betreuungseingabe"  [ngModel]="endzeit | date:'HH:mm'" (ngModelChange)="endzeit2=$event" name="endzeit" type="text" ></ion-input>
  <ion-item>
      <ion-label >Bemerkungen</ion-label>
    </ion-item>
    <ion-textarea class="bemerkungseingabe" [(ngModel)]="bemerkung"></ion-textarea>
    <div class="column"> 
    <ion-item button color="primary" (click)="abort()">
      Abbrechen
    </ion-item>
  <ion-item button color="primary" (click)="closePopover()">
    Speichern
  </ion-item>
    </div>
</ion-list>