<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="veranstaltungstyp">
      Terminbuchung für {{veranstaltung}}
    </ion-label>
    <ion-label class="veranstaltung-label"> -- Kalenderwoche {{weekNo}} -- </ion-label>
  </div>


  <div class="veranstaltung-container">
    <ion-item *ngFor="let v of veranstaltungen" lines="none" class="veranstaltung-item">
      <div class="veranstaltung-content-container">
        <ion-label class="tag-label">
          {{v.name}}
        </ion-label>
      </div>
    </ion-item>
  </div>   

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="data-label">
      Zeitraum auswählen: 
    </ion-label>
    <ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" max="2021" [(ngModel)]="datum"  (ionChange)="selectCalendarWeek()"></ion-datetime>
  </ion-toolbar>
</ion-footer>