<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="veranstaltungstyp">
      Terminbuchung für {{veranstaltung}}
    </ion-label>
    <ion-label class="veranstaltung-label"> -- Kalenderwoche {{weekNo}} -- </ion-label>
  </div>
  
  <div class="veranstaltung-container">
    <ion-list *ngFor="let item of days; let i = index;" class="accordion-list" lines="none" detail="false" class="ion-no-padding">
      <ion-item class="ion-text-center" tappable (click)="toggleSelection(i)" [ngClass]="{'selection-active': item.open, 'selection': !item.open}">
        <ion-icon slot="end" name="arrow-down" *ngIf="!item.open"></ion-icon>
        <ion-icon slot="end" name="arrow-up" *ngIf="item.open"></ion-icon>
        <ion-label>{{item.wochentag}}</ion-label>
      </ion-item>
      <div *ngIf="item.zeitraum && item.open">
        <!-- <ion-item *ngFor="let zeit of item.zeitraum" lines="none" class="schichten-item" (click)="presentAlert(zeit.thema, zeit.uhrzeit)"> -->
            <ion-item *ngFor="let zeit of item.zeitraum" lines="none" class="schichten-item" (click)="presentPopover($event, zeit.thema, zeit.uhrzeit)">
          <div class="schichten-content-container">
            <ion-label>
                {{zeit.thema}}
            </ion-label>
            <ion-row>
              <ion-label>
                {{zeit.uhrzeit}}
              </ion-label>
            </ion-row>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="data-label">
      Zeitraum auswählen: 
    </ion-label>
    <ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" max="2021" [(ngModel)]="datum"  (ionChange)="selectCalendarWeek()"></ion-datetime>
  </ion-toolbar>
</ion-footer>