<app-header></app-header>

<ion-content>

              <ion-item>
                <ion-label>Kind auswählen</ion-label>
                <ion-select value="" ok-text="Okay" cancel-text="Abbrechen">
                  <ion-select-option value="">Kind A</ion-select-option>
                  <ion-select-option value="">Kind B</ion-select-option>
                </ion-select>
              </ion-item>

            
                <div class="flex-container">
                  <ion-label >
                   Buche deine Veranstaltungen
                  </ion-label>
                </div>
                <div class="veranstaltung-container">
                  <ion-item *ngFor="let veranstaltung of veranstaltungen" lines="none" class="veranstaltung-item" (click)="chooseOffer(veranstaltung.name)">
                    <div class="veranstaltung-content-container">
                      <ion-label class="tag-label">
                        {{veranstaltung.name}}
                      </ion-label>
                    </div>
                  </ion-item>
                </div>         
              


</ion-content>


