<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="schichten-label">
      Meine Schichten
    </ion-label>
  </div>
  <div class="schichten-container">
    <ion-item *ngFor="let schicht of schichten" lines="none" class="schichten-item" (click)="openList(schicht.id);">
      <div class="schichten-content-container">
        <ion-label class="tag-label">
          {{schicht.day}}
        </ion-label>
        <ion-row class="data-row">
          <ion-label class="data-label">
            Titel: {{schicht.name}}
          </ion-label>
        </ion-row>
        <ion-row class="data-row">
          <ion-label class="data-label">
            Datum: {{schicht.datum}}
          </ion-label>
        </ion-row>
        <ion-row class="data-row">
          <ion-label class="data-label">
            Uhrzeit: {{schicht.uhrzeit}}
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-label slot="start">
        Datum:
      </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="datum"></ion-datetime>
    </ion-toolbar>
  </ion-footer>