<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-logo-container">
        <img class="header-logo"  src="assets/logo.jpg">
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="auswahl-label">
      Wähle bitte deine Schule
    </ion-label>
    <ion-list class="schul-list" class="schul-list">
        <ion-button *ngFor="let school of schools" class="schul-button" expand="full" (click)="schoolClick()">
            {{school}}
          </ion-button>
    </ion-list>
  </div>
</ion-content>
