.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.image{
    width: 50%;
    height: auto;
}
.auswahl-label{
    margin-top: 2em;
    font-size: large;
}