.flex-container{
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.event-label{
    margin-top: 2rem;
    font-size: large;
    justify-content: center;

}
.event-container{
    width: auto;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.event-content-container{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
}
.day-label{
    text-align: center;
    font-weight: bold;
}
.data-row{
    width: 100%;
}
.data-label{
    margin-right: 2em;
}
.event-label{
    align-self: flex-end;
}
.child-name-label{
    font-weight: bold;
}
.name-row{
    margin-top: 0.5em;
}
.date-time-row{
    margin-top: 0.25em;
}
.date-label{
    margin-right: 2em;
}
.time-label{

}
.day-row{
    width: 100%; 
    display:flex;
    justify-content:center;
}
.button-organization{
    flex:1;
    display: flex;
    justify-content: left;
    // transform: translateX(65px);
}
.event-item{
    margin-top: 1em;
    width: 100%;
    --border-width: 2px 2px 2px 2px;
}
.present-item{
    --border-color: green;
}
.registered-item{
    --border-color: grey;
}
.left-item{
    --border-color: black;
}
.overdue-item{
    --border-color: red;
}
.status-label{
    margin-left: auto;
}
.present-label{
    color: grey;
}
.overdue-label{
    color: red;
}
.present-label{
    color: green;
}
.left-label{
    color: black;
}
