<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label  class="event-label">
      Deine gebuchten Veranstaltungen
    </ion-label>
  </div>
  <div class="event-container">
    <ion-item *ngFor="let care of afterSchoolCares" lines="none" class="event-item" [ngClass]="{'registered-item':care.status == 1, 'overdue-item':care.status == 2, 'present-item':care.status == 3, 'left-item':care.status == 4.}" (click)="chooseOffer(care.name)">
      <div class="event-content-container" >
          <ion-row class="day-row">
            <span class="button-organization
              ">
          <ion-label class="day-label">
            {{care.startTime | amLocale:'de' | amDateFormat:'dddd'}}
          </ion-label>
        </span>
          <span >
          <ion-button (click)="changeAttendance(care);$event.stopPropagation();">
            Details
          </ion-button>
          <ion-button *ngIf="care.status == 1 || care.status == 2" (click)="deleteAttendance(care.id);$event.stopPropagation();" class="detail-button">
            Abmelden
          </ion-button>
        </span>
        </ion-row>
        <ion-row>
          <ion-label class="day-label">
            {{care.childName}}
          </ion-label>
        </ion-row>
        <ion-row class="name-row">
          <ion-label>
            {{care.name}}
          </ion-label>
        </ion-row>
        <ion-row class="date-time-row">
          <ion-label class="date-label">
            {{care.startTime | amDateFormat:'DD.MM.YYYY'}}
          </ion-label>
          <ion-label class="time-label">
            {{care.startTime | amDateFormat:'HH:mm'}} - {{care.endTime | amDateFormat:'HH:mm'}}
          </ion-label>
          <ion-label *ngIf="care.status == 1" class="status-label registered-label">
            Angemeldet
          </ion-label>
          <ion-label *ngIf="care.status == 2" class="status-label overdue-label">
            Überfällig
          </ion-label>
          <ion-label *ngIf="care.status == 3" class="status-label present-label">
            Anwesend
          </ion-label>
          <ion-label *ngIf="care.status == 4" class="status-label left-label">
            Gegangen
          </ion-label>
        </ion-row>                
      </div>
    </ion-item>
  </div>         
</ion-content>


