.flex-container{
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.anwesenheitsliste-label{
    margin-top: 2em;
}
.schueler-suchen{
    margin-top: 1em;
    align-self: flex-start;
    height: 2em;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
.klasse-row{
    align-self: flex-start;
    width: 100%;
    margin-top: 1em;
}
.klasse-suchen{
    border: 1px solid black;
    width: 100%;
    margin-left: 2em;
    align-self: flex-end;
}
.schueler-container{
    width: auto;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.schueler-item-angemeldet{
    margin-top: 1em;
    width: 100%;
    --border-width: 2px 2px 2px 2px;
    --border-color: blue;
}
.schueler-item-noch-nicht-anwesend{
    margin-top: 1em;
    width: 100%;
    --border-width: 2px 2px 2px 2px;
    --border-color: grey;
}
.schueler-item-nach-Hause-gegangen{
    margin-top: 1em;
    width: 100%;
    --border-width: 2px 2px 2px 2px;
    --border-color: black;
}
.schueler-item-ueberfaellig{
    margin-top: 1em;
    width: 100%;
    --border-width: 2px 2px 2px 2px;
    --border-color: red;
}
.schueler-content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.zeile1{
    width: 100%;
}