<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="anwesenheitsliste-label">
      Anwesenheitsliste
    </ion-label>
    <ion-input placeholder="Suchen" class="schueler-suchen"></ion-input>
    <ion-row nowrap class="klasse-row">
      <ion-label class="ion-padding-vertical">
        Klasse:
      </ion-label>
      <ion-select class="klasse-suchen" okText="Okay" cancelText="Abbrechen">
          <ion-select-option *ngFor="let class of classes" value={{class}}>{{class}}</ion-select-option>
      </ion-select>
    </ion-row>
  </div>
  <div class="schueler-container">
    <ion-item *ngFor="let schueler of schueler" lines="none" [ngClass]="{'schueler-item-angemeldet':schueler.anwesenheit == 0, 'schueler-item-noch-nicht-anwesend':schueler.anwesenheit == 1, 'schueler-item-nach-Hause-gegangen':schueler.anwesenheit == 2, 'schueler-item-ueberfaellig':schueler.anwesenheit == 3.}">
      <div class="schueler-content-container">
        <ion-label>
          {{schueler.name}}
        </ion-label>
        <ion-row class="zeile1">
          <ion-label class="klasse-label">
            Klasse: {{schueler.klasse}}
          </ion-label>
        </ion-row>
        <ion-row class="zeile1">
          <ion-label class="betreuungsende-label">
            Betreuungsende: {{schueler.betreuungsende}}
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            {{schueler.info}}
          </ion-label>  
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label slot="start">
      Datum:
    </ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="datum"></ion-datetime>
  </ion-toolbar>
</ion-footer>