<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="anwesenheitsliste-label">
      Anwesenheitsliste
    </ion-label>
    <ion-label class="betreuungsende-label">
      Betreuungsende: {{endOfCare | amDateFormat:'HH:mm'}}
    </ion-label>
    <ion-input placeholder="Suchen" class="schueler-suchen" [(ngModel)]="search" (ionChange)="searchChanged()"></ion-input>
    <ion-row nowrap class="klasse-row">
      <ion-label class="ion-padding-vertical">
        Klasse:
      </ion-label>
      <ion-select class="klasse-suchen" okText="Okay" cancelText="Abbrechen" [(ngModel)]="selectedClass" (ionChange)="selectedClassChanged()">
          <ion-select-option *ngFor="let class of classes" value={{class}}>{{class}}</ion-select-option>
      </ion-select>
    </ion-row>
  </div>
  <div class="schueler-container">
    <ion-item *ngFor="let pupil of filteredPupils" lines="none" [ngClass]="{'schueler-item-angemeldet':pupil.status == 1, 'schueler-item-ueberfaellig':pupil.status == 2, 'schueler-item-anwesend':pupil.status == 3, 'schueler-item-nach-Hause-gegangen':pupil.status == 4.}" (click)="presentAlertStatus(pupil)">
      <div class="schueler-content-container">
        <ion-row class="header-zeile">
          <ion-label class="schueler-name-label">
            {{pupil.name}}
          </ion-label>
          <ion-button (click)="presentAlertDetails(pupil);$event.stopPropagation();" class="detail-button">
            Details
          </ion-button>
          <ion-button (click)="presentPopover($event, pupil.id, pupil.status);$event.stopPropagation();">
            <ion-icon slot="icon-only" name="md-more"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row class="zeile1">
          <ion-label class="klasse-label">
            Klasse: {{pupil.schoolClass}}
          </ion-label>
        </ion-row>
        <ion-row class="zeile1" *ngIf="pupil.latestArrivalTime">
          <ion-label no-wrap>
            Ankunftszeit: {{pupil.latestArrivalTime | amDateFormat:'HH:mm'}}
          </ion-label>  
        </ion-row>
        <ion-row class="zeile1" *ngIf="pupil.predefinedLeaveTime">
          <ion-label no-wrap>
            Schüler darf gehen ab: {{pupil.predefinedLeaveTime | amDateFormat:'HH:mm'}}
          </ion-label>  
        </ion-row>
        <ion-row class="zeile1" *ngIf="pupil.allowedToLeaveAfterFinishedHomework">
          <ion-label>
            Darf nach Hausaufgaben gehen
          </ion-label>  
        </ion-row>
        <ion-row class="zeile1" *ngIf="pupil.note">
          <ion-label no-wrap>
            Info: {{pupil.note}}
          </ion-label>  
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="sperren-button" (click)="presentAlertLock()" [disabled]="!isLockable">
    Anwesenheitsliste sperren
  </ion-button>
</ion-footer>