<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="abrechnung-label">
      Abrechnung
    </ion-label>
  </div>
  <div class="abrechnung-container">
    <ion-item *ngFor="let schicht of schichten" lines="none" class="abrechnung-item">
      <div class="abrechnung-content-container">
        <ion-label class="datum-zeit-label">
          {{schicht.datum}}, {{schicht.uhrzeit}}
        </ion-label>
        <ion-row class="data-row">
          <ion-label class="data-label">
            Schule: {{schicht.schule}}
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-input readonly [(ngModel)]="datum" [liIonic4Datepicker]="datePickerDefaultSettings" (ionChange)="dateChange()"></ion-input>
</ion-footer>