<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-logo-container">
        <img class="header-logo"  src="assets/logo.jpg">
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="abrechnung-label">
      Abrechnung
    </ion-label>
  </div>
  <div class="abrechnung-container">
    <ion-item *ngFor="let schicht of schichten" lines="none" class="abrechnung-item">
      <div class="abrechnung-content-container">
        <ion-label class="datum-zeit-label">
          {{schicht.datum}}, {{schicht.uhrzeit}}
        </ion-label>
        <ion-row class="data-row">
          <ion-label class="data-label">
            Schule: {{schicht.schule}}
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-label slot="start">
        Datum:
      </ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="datum"></ion-datetime>
    </ion-toolbar>
  </ion-footer>