<ion-header>    
 <ion-toolbar color="primary">
    <ion-title>Fjoerde</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password" [(ngModel)]="user.pw"></ion-input>
    </ion-item>

  <ion-button expand="block" (click)="login()">Login</ion-button>
  <ion-button expand="block" (click)="register()">Registrieren</ion-button>
  <ion-button expand="block" (click)="login()">Passwort vergessen</ion-button>


</ion-content>
