<ion-content class="ion-padding">
  <div class="flex-container">
    <img class="image"  src="assets/logo.jpg">
    <div class="item-container">
      <ion-item class="login-item">
        <ion-label position="stacked" class="login-label">
          Nutzername
        </ion-label>
        <ion-input type="email" (keyup.enter)="login()" placeholder="Nutzername" [(ngModel)]="user.email">
        </ion-input>
      </ion-item>
      <ion-item class="login-item">
        <ion-label position="stacked" class="login-label">
          Password
        </ion-label>
        <ion-input type="password" (keyup.enter)="login()" placeholder="Password" [(ngModel)]="user.pw">
        </ion-input>
      </ion-item>
    </div> 
  <ion-button class="home-button" expand="block" (click)="login()">
    Login
  </ion-button>
  <ion-button class="home-button" expand="block" (click)="register()">
    Registrieren
  </ion-button>
  <ion-button class="home-button" expand="block" (click)="login()">
    Passwort vergessen
  </ion-button>
  </div>
</ion-content>
