<ion-app>
  <ion-split-pane>

    <ion-menu menuId="pageMenu" *ngIf="isLoggedIn" type="overlay" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Seiten Menü</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle menu="pageMenu" auto-hide="false"  *ngIf="ERZIEHUNGSBERECHTIGTE || BETREUER">
            <div *ngIf="ERZIEHUNGSBERECHTIGTE">
              <ion-item [routerDirection]="'root'" routerLink="parent/erziehungsberechtigte-dashboard">
                <ion-icon slot="start" name="home"></ion-icon>
               <ion-label>Home</ion-label>
              </ion-item> 
              <ion-item [routerDirection]="'root'" routerLink="parent/veranstaltung-buchen">
                <ion-icon slot="start" name="school"></ion-icon>
                <ion-label>Veranstaltung buchen</ion-label>
              </ion-item> 
              <ion-item [routerDirection]="'root'" routerLink="parent/kind-uebersicht">
                <ion-icon slot="start" name="people"></ion-icon>
                <ion-label>Kinder</ion-label>
              </ion-item> 
            </div>
            <div *ngIf="BETREUER">
              <ion-item [routerDirection]="'root'" routerLink="/employee/schulauswahl">
                <ion-icon slot="start" name="briefcase"></ion-icon>
                <ion-label>Schulauswahl</ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" routerLink="/employee/alle-schichten">
                <ion-icon slot="start" name="clipboard"></ion-icon>
                <ion-label>Alle Schichten</ion-label>
              </ion-item>
              <ion-item [routerDirection]="'root'" routerLink="/employee/abrechnung">
                <ion-icon slot="start" name="card"></ion-icon>
                <ion-label>Abrechnung</ion-label>
              </ion-item>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-menu menuId="accountMenu" *ngIf="isLoggedIn" type="overlay" side="end">
      <ion-header>
        <ion-row class="account-row" align-items="center">
          <ion-icon class="account-icon" name="person"></ion-icon>
          <ion-label class="account-label">{{fullname}}</ion-label>
        </ion-row>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle menu="accountMenu" auto-hide="false" *ngIf="ERZIEHUNGSBERECHTIGTE || BETREUER">
            <ion-item [routerDirection]="'root'" routerLink="/edit-account">
              <ion-icon slot="start" name="folder"></ion-icon>
              <ion-label>Account bearbeiten</ion-label>
            </ion-item>
            <ion-item (click)="deleteAccount()" *ngIf="ERZIEHUNGSBERECHTIGTE">
              <ion-icon slot="start" name="close-circle-outline"></ion-icon>
              <ion-label color="danger">Account löschen</ion-label>
            </ion-item>
            <ion-item (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Abmelden</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
</ion-app>
