<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="invoice-label">
      Abrechnung
    </ion-label>
  </div>
  <div class="invoice-container">
    <ion-item *ngFor="let care of afterSchoolCares" lines="none" class="invoice-item">
      <div class="invoice-content-container">
        <ion-label>
          {{care.date | amDateFormat:'DD.MM.YYYY'}}, {{care.time | amDateFormat:'HH:mm'}}
        </ion-label>
        <ion-row>
          <ion-label>
            Schule: {{care.school}}
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-input class="datepicker-input" readonly [(ngModel)]="calendarDate" [liIonic4Datepicker]="datePickerDefaultSettings" (ionChange)="dateChange($event)"></ion-input>
</ion-footer>