<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="abrechnung-label">
      Abrechnung
    </ion-label>
  </div>
  <div class="abrechnung-container">
    <ion-item *ngFor="let care of afterSchoolCares" lines="none" class="abrechnung-item">
      <div class="abrechnung-content-container">
        <ion-label class="datum-zeit-label">
          {{care.date | amDateFormat:'DD.MM.YYYY'}}, {{care.time | amDateFormat:'HH:mm'}}
        </ion-label>
        <ion-row class="data-row">
          <ion-label class="data-label">
            Schule: {{care.school}}
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-input readonly [(ngModel)]="calendarDate" [liIonic4Datepicker]="datePickerDefaultSettings" (ionChange)="dateChange($event)"></ion-input>
</ion-footer>