<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="event-label">
      {{careName}} buchen
    </ion-label>
  </div>
  <!-- <div class="veranstaltung-container">
    <ion-input readonly [(ngModel)]="datum" [liIonic4Datepicker]="datePickerDefaultSettings" (ionChange)="dateChange($event)"></ion-input>

  </div> -->

  <div class="event-container">
    <ion-list *ngFor="let item of days; let i = index;" lines="none" detail="false" class="ion-no-padding" class="day-list">
      <ion-item class="day-item" tappable (click)="toggleSelection(i)" [ngClass]="{'selection-active': item.open, 'selection': !item.open}">
        <ion-icon slot="end" name="arrow-down" *ngIf="!item.open"></ion-icon>
        <ion-icon slot="end" name="arrow-up" *ngIf="item.open"></ion-icon>
        <ion-label class="item-name-label">{{item.name}}</ion-label>
      </ion-item>
      <div *ngIf="item.schichten && item.open" class="event-container">
        <ion-item *ngFor="let event of item.schichten" lines="none" class="event-item" (click)="presentPopover(event)">
          <div class="event-content-container">
            <ion-label>
              {{event.schule}}
            </ion-label>
            <ion-label>
              {{event.name}}
            </ion-label>
            <ion-row>
              <ion-label>
                {{event.startTime | amDateFormat:'DD.MM.YYYY'}} {{event.endTime | amDateFormat:'HH:mm'}}
              </ion-label>
            </ion-row>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-input readonly [(ngModel)]="datum" [liIonic4Datepicker]="datePickerDefaultSettings" (ionChange)="dateChange($event)"></ion-input>
</ion-footer>
