<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="my-cares-label">
      Meine Schichten
    </ion-label>
  </div>
  <div class="my-cares-container">
    <ion-item *ngFor="let care of afterSchoolCares" lines="none" class="my-cares-item" (click)="openList(care.id);">
      <div class="my-cares-content-container">
        <ion-label class="day-label">
          {{care.day}}
        </ion-label>
        <ion-row class="data-row">
          <ion-label>
            Titel: {{care.name}}
          </ion-label>
        </ion-row>
        <ion-row class="data-row">
          <ion-label>
            Datum: {{care.startTime | amDateFormat:'DD.MM.YYYY'}}
          </ion-label>
        </ion-row>
        <ion-row class="data-row">
          <ion-label>
            Uhrzeit: {{care.startTime | amDateFormat:'HH:mm'}}
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-input readonly [(ngModel)]="calendarDate" [liIonic4Datepicker]="datePickerDefaultSettings" (ionChange)="dateChange($event)"></ion-input>
</ion-footer>