<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label class="attendance-list-label">
      Anwesenheitsliste
    </ion-label>
    <ion-label class="endOfCare-label">
      Betreuungsende: {{endOfCare | amDateFormat:'HH:mm'}}
    </ion-label>
    <ion-input placeholder="Suchen" class="pupil-input" [(ngModel)]="search" (ionChange)="searchChanged()"></ion-input>
    <ion-row nowrap class="class-row">
      <ion-label class="ion-padding-vertical">
        Klasse:
      </ion-label>
      <ion-select class="class-select" okText="Okay" cancelText="Abbrechen" [(ngModel)]="selectedClass" (ionChange)="selectedClassChanged()">
          <ion-select-option *ngFor="let class of classes" value={{class}}>{{class}}</ion-select-option>
      </ion-select>
    </ion-row>
  </div>
  <div class="pupil-container">
    <ion-item *ngFor="let pupil of filteredPupils" lines="none" class="pupil-item" [ngClass]="{'registered-item':pupil.status == 1, 'tooLate-item':pupil.status == 2, 'present-item':pupil.status == 3, 'left-item':pupil.status == 4.}" (click)="presentAlertStatus(pupil)">
      <div class="pupil-content-container">
        <ion-row class="header-row">
          <ion-label class="pupil-name-label">
            {{pupil.name}}
          </ion-label>
          <ion-button (click)="presentAlertDetails(pupil);$event.stopPropagation();" class="detail-button">
            Details
          </ion-button>
          <ion-button (click)="presentPopover($event, pupil.id, pupil.status);$event.stopPropagation();">
            <ion-icon slot="icon-only" name="md-more"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row class="content-row">
          <ion-label class="class-label">
            Klasse: {{pupil.schoolClass}}
          </ion-label>
        </ion-row>
        <ion-row class="content-row" *ngIf="pupil.latestArrivalTime">
          <ion-label no-wrap>
            Ankunftszeit: {{pupil.latestArrivalTime | amDateFormat:'HH:mm'}}
          </ion-label>  
        </ion-row>
        <ion-row class="content-row" *ngIf="pupil.predefinedLeaveTime">
          <ion-label no-wrap>
            Schüler darf gehen ab: {{pupil.predefinedLeaveTime | amDateFormat:'HH:mm'}}
          </ion-label>  
        </ion-row>
        <ion-row class="content-row" *ngIf="pupil.allowedToLeaveAfterFinishedHomework">
          <ion-label>
            Darf nach Hausaufgaben gehen
          </ion-label>  
        </ion-row>
        <ion-row class="content-row" *ngIf="pupil.note">
          <ion-label no-wrap>
            Info: {{pupil.note}}
          </ion-label>  
        </ion-row>
        <ion-row class="content-row">
          <ion-label *ngIf="pupil.status == 1" class="status-label angemeldet-label">
            Angemeldet
          </ion-label>
          <ion-label *ngIf="pupil.status == 2" class="status-label ueberfaellig-label">
            Überfällig
          </ion-label>
          <ion-label *ngIf="pupil.status == 3" class="status-label anwesend-label">
            Anwesend
          </ion-label>
          <ion-label *ngIf="pupil.status == 4" class="status-label gegangen-label">
            Gegangen
          </ion-label>
        </ion-row>
      </div>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-button class="lock-button" (click)="presentAlertLock()" [disabled]="!isLockable">
    Anwesenheitsliste sperren
  </ion-button>
</ion-footer>