<app-header></app-header>

<ion-content>
  <div class="flex-container">
    <ion-label  class="veranstaltung-label">
      Deine gebuchten Veranstaltungen
    </ion-label>
  </div>
  <div class="veranstaltung-container">
    <ion-item *ngFor="let care of afterSchoolCares" lines="none" class="veranstaltung-item" [ngClass]="{'angemeldet-item':care.status == 1, 'ueberfaellig-item':care.status == 2, 'anwesend-item':care.status == 3, 'gegangen-item':care.status == 4.}" (click)="chooseOffer(care.name)">
      <div class="veranstaltung-content-container" >
          <ion-row class="dayrow">
            <span class="button-organization
              ">
          <ion-label class="day-label">
            {{care.startTime | amLocale:'de' | amDateFormat:'dddd'}}
          </ion-label>
        </span>
          <span >
          <ion-button (click)="changeAttendance(care);$event.stopPropagation();">
            Ändern
          </ion-button>
          <ion-button (click)="deleteAttendance(care.id);$event.stopPropagation();" class="detail-button">
            Abmelden
          </ion-button>
        </span>
        </ion-row>
        <ion-row>
          <ion-label class="day-label">
            {{care.childName}}
          </ion-label>
        </ion-row>
        <ion-row class="name-row">
          <ion-label>
            {{care.name}}
          </ion-label>
        </ion-row>
        <ion-row class="date-time-row">
          <ion-label class="date-label">
            {{care.startTime | amDateFormat:'DD.MM.YYYY'}}
          </ion-label>
          <ion-label class="time-label">
            {{care.startTime | amDateFormat:'HH:mm'}} - {{care.endTime | amDateFormat:'HH:mm'}}
          </ion-label>
          <ion-label *ngIf="care.status == 1" class="status-label angemeldet-label">
            Angemeldet
          </ion-label>
          <ion-label *ngIf="care.status == 2" class="status-label ueberfaellig-label">
            Überfällig
          </ion-label>
          <ion-label *ngIf="care.status == 3" class="status-label anwesend-label">
            Anwesend
          </ion-label>
          <ion-label *ngIf="care.status == 4" class="status-label gegangen-label">
            Gegangen
          </ion-label>
        </ion-row>                
      </div>
    </ion-item>
  </div>         
</ion-content>


