<app-header></app-header>
  
  <ion-content>

    <ngx-datatable
    [rows]="veranstaltungen"
    [ngClass]="tableStyle"
    [rowHeight]="'auto'"
    [headerHeight]="50"
    [columnMode]="'force'"
    >
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Company"></ngx-datatable-column>

      <ngx-datatable-column name="Aktion" [sortable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <ion-button size="small" fill="outline" (click)="open(row)">Details</ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </ion-content>
  